<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Electrónico</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div style="background-color: #38B000; color: #ffffff; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 20px;">
            <h2 style="text-align: center; margin: 0;">¡Bienvenido a nuestra tienda de libros electrónicos 'SWAL'!</h2>
        </div>
        <div style="padding: 20px;">
            <p>Estimad@ {{ usuario.usuario }} ,</p>
            
            <p>¡Gracias por unirte a nuestra comunidad de compras para lectores! En SWAL, nos apasiona ofrecerte una amplia selección de libros electrónicos de calidad para satisfacer tus necesidades de lectura.</p>
            
            <p>Explora nuestra colección de libros digitales y descubre una nueva aventura literaria. Ya sea que prefieras novelas, ensayos, poesía o libros técnicos, tenemos algo para todos los gustos.</p>
            
            <p>¡No te pierdas nuestras últimas novedades y ofertas especiales! Mantente al tanto de nuestras promociones exclusivas y descubre libros fascinantes a precios increíbles.</p>
            
            <p>¡Esperamos que disfrutes de tu experiencia de compra en [Nombre de la Tienda]!</p>
            
            <p>Atentamente,<br>
            El equipo de SWAL</p>
            
        </div>
    </div>

</body>
</html>
