<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Electrónico</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div style="background-color: #38B000; color: #ffffff; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 20px;">
            <h2 style="text-align: center; margin: 0;">¡Se ha realizado una compra!</h2>
        </div>
        <div style="padding: 20px;">
            <h2>¡{{ usuario.usuario }} ha comprado el libro '{{ libro.titulo }}'!</h2>
        </div>
    </div>

</body>
</html>
